body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

.main-img {
  border-radius: 100px;
  border: 3px solid black;
  width: 100%;
  opacity: 1;
}

/* header h1 {
  text-align: center;
} */

.navLinks {
  padding: 1%;
  text-decoration: none;
  color: white;
}

input {
  border-radius: 50px;
  height: 25px;
  width: 10%;
  padding: 0.5%;
  border: 2px solid black;
}

.img-card {
  margin: 2% auto;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 25%;
  padding: 0.5%;
}

/* .search-form {
  
} */

.search-img-card {
  margin: 0 auto;
  margin-bottom: 1%;
  border: 1px solid black;
  border-radius: 20px;
  background: black;
  padding: 0.5%;
 
}

.img-card {
  margin: 2% auto;
  border: 1px solid black;
  border-radius: 10px;
  background: black;
  padding: 0.5%;
  
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
}

